{% extends "base.html" %}
{% block section %}
{% include "menu.html" %}
	<section class="card">
		<img src="{{ estudiante.avatar }}">
		<a href="{{estudiante.social_url }}" target="_blank">
			<h4>{{ estudiante.social_network }} - {{ user }}</h4>
		</a>
		<form method="post">
			<div id="form">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" class="btn btn-primary">
			</div>
		</form>
		<p></p>
		<a href="{% url 'update' %}"><div class="btn btn-danger">Actualizar</div></a>
	</section>
{% endblock section %}